html{
    font-size: 62.5%;
}

.container{
    margin: auto;
}

h1{
    text-align: center;
    font-family: 'Style Script', cursive;
    font-size: 6rem;
}

.text_container{
    display: flex;

}

p{
    font-family: 'Space Grotesk', sans-serif;
}

.p1{
    max-width: 550px;
    padding-top: 50px;
    margin: 0;
    font-size: 2rem;
    text-align: justify;
}


.p2{
    /* max-width: 300px;
    margin: 0; */
    text-align: right;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 4.5rem;
}

img{
    max-width: 600px;
}