html{
    font-size: 62.5%;
}

.container{
    margin: auto;
}

h1{
    text-align: center;
    font-family: 'Style Script', cursive;
    font-size: 6rem;
}

.p1{
    max-width: 550px;
    padding-top: 50px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
}

img{
    max-width: 600px;
}